<h1>New Task</h1>
<% if @category %>
  <div class="">
    For Category: <%= @category.name %>
  </div>
<% end %>
<%= render 'form', task: @task, category_id: @category.id %>

<%= link_to 'Back', tasks_path %>
